*:focus {
	box-shadow: 0 0 3px #00a79d;
	outline: 1px solid #00a79d;
}

header {
	 background-color: #e5f3f2;
	 padding: 45px 22.5px 27px;
}

h1 {
	color: #00a79d;
	font-family: Roboto Slab;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 45px;
	text-align: center;
}

h1 span {
	color: #6d6e71;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}



.save-button:hover {
	background-color: #045e55;
	transition: background-color .3s ease;
}

.save-button:focus {
	background-color: #045e55;
	box-shadow: 0 0 5px #fff;
	outline: 3px solid #fff;
	transition: all .3s ease;
}

::placeholder {
	color: #d1d3d4;
	margin-left: 7.5px;
}

main {
	padding: 27px;
}

section {
	margin: auto;
	width: 582px;
}

.title-input, .idea-input, .save-button, .search {
	border: 1.5px solid #d1d3d4;
	display: block;
	font-size: 22.5px;
	height: 31.5px;
	margin: 9px auto;
	width: 582px;
}

.search {
	margin-bottom: 42px;
}

.save-button {
	background-color: #00a79d;
	border: none;
	color: #fff;
	cursor: pointer;
	height: 46.5px;
	padding: 7.5px 15px;
	transition: background-color .3s ease;
	width: 587px;
}

h2, .edit-title {
	color: #6d6e71;
	font-family: Roboto Slab;
	font-size: 24px;
	font-weight: 700;
}

h2, .idea-body {
	overflow-wrap: break-word;
}

.h2-wrapper {
	display: flex;
	justify-content: space-between;
}

h5 {
	font-family: Roboto Slab;
}

p, .edit-idea {
	color: #939598;
	font-family: Open Sans;
	font-size: 21px;
	font-weight: 400;
	line-height: 1.3;
	margin-bottom: 24px;
	margin-top: 9px;
}

hr {
	border: 1.5px solid #d1d3d4;
	margin-bottom: 24px;
	margin-top: 27px;
}

.idea-body, .idea-title {
	cursor: pointer;
}

textarea {
	border: 1.5px solid #d1d3d4;
	display: block;
	font-size: 22.5px;
	resize: vertical;
	width: 582px;
	z-index: 1;
}

.upvote-front, 
.downvote-front, 
.delete-front {
	background-color: #fff;
	border: none;
	cursor: pointer;
	padding: 0;
	transition: all .3s ease;
	width: 31px;
}

.upvote-front:hover, 
.downvote-front:hover, 
.delete-front:hover {
	opacity: 0;
	transition: all .3s ease;
}

.upvote-button,
.downvote-button, 
.delete-button {
	background-color: #fff;
	background-repeat: no-repeat;
	border: none;
	height: 31px;
	padding: 0;
	width: 31px;
}

.upvote-button {
	background-image: url("../assets/upvote-hover.svg");
}

.downvote-button {
	background-image: url("../assets/downvote-hover.svg");
}

.delete-button {
	background-image: url("../assets/delete-hover.svg");
}

.upvote-button, .downvote-button, .quality {
	margin-right: 22.5px;
}

.quality-wrapper {
	display: flex;
}

.quality {
	color: #626e71;
	font-size: 21px;
	margin-top: 3px;
}

.quality-span {
	font-family: Open Sans;
}

.card-display-none {
	display: none;
}

@media screen and (max-width: 655px) {
	header {
		padding: 20px 22px 10px;
	}
	section {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	main {
		padding-top: 10px;
	}

	h1 {
		font-size: 36px;
		margin-bottom: 12px;
	}
	
	.idea-input {
		height: 82px;
	}

	.title-input, .idea-input, .save-button, .search {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		width: 100%;
	}
}


